.promo {
    padding:30px 0; 
}

.promo__content {
    padding-right: 65px;
}

.promo__wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.promo__img {
    width: 643px;
    height: 495px;
    background-image: url(/img/backgrounds/promo-img.png);

}

.promo__buttoms>* {
    margin-right: 44px;
}